@model IEnumerable<CourseManagement.Models.Image>

@{
    ViewBag.Title = "Obrazki kursu";
}

<h2>Obrazki kursu</h2>

<p>
    @Html.ActionLink("Dodaj obrazek", "Create", new { courseId = ViewBag.CourseId }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>Podgląd</th>
        <th>Nazwa</th>
        <th>Akcje</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("Display", "Images", new { id = item.Id })" alt="@item.Name" style="max-width: 100px; max-height: 100px;" />
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id, courseId = ViewBag.CourseId }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id, courseId = ViewBag.CourseId })
            </td>
        </tr>
    }
</table>