@model CourseManagement.Models.Course

@{
    ViewBag.Title = "Szczegóły kursu";

    var lessonsDisplay = Model.Lessons.Any() ? string.Join(", ", Model.Lessons.Select(l => l.Title)) : "Brak lekcji";
    var materialsDisplay = Model.Materials.Any() ? string.Join(", ", Model.Materials.Select(m => m.Title)) : "Brak materiałów";
    var gradesDisplay = Model.Grades.Any() ? string.Join(", ", Model.Grades.Select(g => $"{g.StudentId}: {g.GradeValue}")) : "Brak ocen";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Kurs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>ID</dt>
        <dd>@Model.Id</dd>
        <dt>Nazwa</dt>
        <dd>@Model.Name</dd>
        <dt>Opis</dt>
        <dd>@Model.Description</dd>
        <dt>Instruktor</dt>
        <dd>@Model.Instructor</dd>
        <dt>Lekcje</dt>
        <dd>@lessonsDisplay</dd>
        <dt>Materiały</dt>
        <dd>@materialsDisplay</dd>
        <dt>Oceny</dt>
        <dd>@gradesDisplay</dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Zarządzaj obrazkami", "Index", "Images", new { courseId = Model.Id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Powrót do listy", "Index", "Courses")
</div>